.logo {
  height: 60px;
  width: 60px;
  /* box-shadow: 0 0 25px black; */
}

.old-paper {
  background-color: #f8f0c6; /* pale yellow base */
  color: #3b2f2f;
  border: 1px solid #c9b77c;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(150, 120, 60, 0.4);
  font-family: "Times New Roman", serif;
}
.old-paper-dark {
  background-color: #202124; /* deep warm charcoal */
  color: #e8e3c9; /* soft beige text */
  border: 1px solid white; /* muted brown border */
  border-radius: 8px;
  font-family: "Times New Roman", serif;
}
.preview {
  max-height: 300px;
  overflow-y: auto;
}

.custom-switch {
  width: 40px;
  height: 20px;
  border-radius: 30px;
  background-color: white; /* dark off */
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  margin-left: 2rem;
}

.custom-switch.on {
  background-color: white; /* yellowish glow when ON */
}

.switch-thumb {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  padding: 5px;
}

/* Slide thumb to the right when active */
.custom-switch.on .switch-thumb {
  transform: translateX(20px);
  color: #fdd835;
}
.fa-user-tie,
.fa-github {
  font-size: 1.25rem;
}
.fa-bell {
  color: red;
}
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  z-index: 2000;
  box-shadow: 0 0 20px black;
}
.themes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-option {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: orange;
  border: 1px solid white;
  margin-left: 7px;
  cursor: pointer;
}
.about,
.features {
  min-height: 75vh;
}
